<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/meyer-reset.css">
  <link rel="stylesheet" href="style/main.css">
  <title>Personal Portfolio</title>
</head>
<body>
  <header>
    <div class="header-background"></div>

    <img class="header-image"
         srcset="https://source.unsplash.com/random/200x400/?person 600w, 
                 https://source.unsplash.com/random/620x870/?person 1000w, 
                 https://source.unsplash.com/random/700x800/?person 1280w"
         sizes="(max-width: 640px) 600px, (max-width: 1400px) 1000px, 1280px"
         src="https://source.unsplash.com/random/600x700/?person" 
         alt="" >

    <h1 class="narrow-heading">Your name here</h1>

    <div class="about-me-wrapper">
      <h1 class="wide-heading">Your name here</h1>

      <section class="about-me">
        <h2>About me</h2>
  
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
  
        <div class="links">
          <a href="#"><img src="../images/misc/github-mark-dark.svg" alt="Github invertocat logo" width="45px" height="45px"></a>
          <a href="#"><img src="../images/misc/linkedin-dark.svg" alt="Linkedin logo" width="45px" height="45px"></a>
          <a href="#"><img src="../images/misc/twitter-dark.svg" alt="Twitter logo" width="45px" height="45px"></a>
        </div>
      </section>
    </div>
  </header>

  <main>
    <h2>My work</h2>
    <div class="projects-container">
      <article class="project">
        <img src="../images/misc/project-placeholder.png" alt="">

        <div class="project-heading">
          <h3>Project name</h3>
          <div>
            <a href="#"><img src="../images/misc/github-mark-dark.svg" alt="Github invertocat logo" width="30px" height="30px"></a>
            <a href="#"><img src="../images/misc/open-in-new.svg" alt="" width="30px" height="30px"></a>
          </div>
        </div>

        <div class="project-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </article>

      <article class="project">
        <img src="../images/misc/project-placeholder.png" alt="">

        <div class="project-heading">
          <h3>Project name</h3>
          <div>
            <a href="#"><img src="../images/misc/github-mark-dark.svg" alt="Github invertocat logo" width="30px" height="30px"></a>
            <a href="#"><img src="../images/misc/open-in-new.svg" alt="" width="30px" height="30px"></a>
          </div>
        </div>

        <div class="project-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </article>

      <article class="project">
        <img src="../images/misc/project-placeholder.png" alt="">

        <div class="project-heading">
          <h3>Project name</h3>
          <div>
            <a href="#"><img src="../images/misc/github-mark-dark.svg" alt="Github invertocat logo" width="30px" height="30px"></a>
            <a href="#"><img src="../images/misc/open-in-new.svg" alt="" width="30px" height="30px"></a>
          </div>
        </div>

        <div class="project-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </article>

      <article class="project">
        <img src="../images/misc/project-placeholder.png" alt="">

        <div class="project-heading">
          <h3>Project name</h3>
          <div>
            <a href="#"><img src="../images/misc/github-mark-dark.svg" alt="Github invertocat logo" width="30px" height="30px"></a>
            <a href="#"><img src="../images/misc/open-in-new.svg" alt="" width="30px" height="30px"></a>
          </div>
        </div>

        <div class="project-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </article>

      <article class="project">
        <img src="../images/misc/project-placeholder.png" alt="">

        <div class="project-heading">
          <h3>Project name</h3>
          <div>
            <a href="#"><img src="../images/misc/github-mark-dark.svg" alt="Github invertocat logo" width="30px" height="30px"></a>
            <a href="#"><img src="../images/misc/open-in-new.svg" alt="" width="30px" height="30px"></a>
          </div>
        </div>

        <div class="project-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </article>

      <article class="project">
        <img src="../images/misc/project-placeholder.png" alt="">

        <div class="project-heading">
          <h3>Project name</h3>
          <div>
            <a href="#"><img src="../images/misc/github-mark-dark.svg" alt="Github invertocat logo" width="30px" height="30px"></a>
            <a href="#"><img src="../images/misc/open-in-new.svg" alt="" width="30px" height="30px"></a>
          </div>
        </div>

        <div class="project-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </article>
    </div>
  </main>

  <footer>
    <section class="contact-details">
      <h2>Contact me</h2>

      <p>Please contact me if you have any questions</p>
  
      <section class="phone">
        <img src="media/phone-outline.svg" alt="Phone icon" width="30px" height="30px">
        <span>444-444-4444</span>
      </section>
  
      <section class="email">
        <img src="media/email-outline.svg" alt="Email icon" width="30px" height="30px">
        <span>example@email.com</span>
      </section>
  
      <section class="links">
        <a href="#"><img src="../images/misc/github-mark.svg" alt="Github invertocat logo" width="40px" height="40px"></a>
        <a href="#"><img src="../images/misc/twitter.svg" alt="Twitter logo" width="40px" height="40px"></a>
        <a href="#"><img src="../images/misc/linkedin.svg" alt="Linkedin logo" width="40px" height="40px"></a>
      </section>
    </section>

    <div class="footer-image">
      <img
       srcset="https://source.unsplash.com/random/960x540/?programming 800w, https://source.unsplash.com/random/1280x720/?programming 1000w"
       sizes="(max-width: 800px) 800px, 1000px"
       src="https://source.unsplash.com/random/1280x720/?programming" 
       alt="">
    </div>
  </footer>
</body>
</html>